
# Grafana - Add SSL
# grafana has user accounts so no htaccess needed
server {
        listen	443 ssl http2;
        listen [::]:443 ssl http2;
        server_name {{ hostname }};
        
        include /etc/nginx/ssl_snippet.conf;
                
        location /grafana/ {
                #auth_basic "Grafana Access";
                #auth_basic_user_file /etc/nginx/htpasswd;
                #added next line for grafana version 9 to work
                proxy_set_header Host $http_host;
                proxy_pass http://{{ install_name }}_grafana:3000/;
        }
}

