---


##############################################################
#                       FABRIC Slice                           #
##############################################################
# This section contains the tasks needed for installing 
# Prometheus on a FABRIC Slice. 

  ###############################
  # Fabric Experiment Prometheus#
  ###############################
  - name: Install Prometheus setup on a Fabric Experiment 
    block:
    - name: Install Prometheus
      import_tasks: fabric_experiment_install_tasks.yml
    tags:
    - monitor
      
  ###############################
  #   Node Exporter Install     #
  ###############################
  - name: Install node_exporter for fabric experiment
    # need each node to have node_exporter
    block:
    - name: Install Node_exporter
      import_tasks: install_node_exporter_tasks.yml
    tags:
    - monitor
    - exporters

##############################################################
#                   end Fabric Slice                         #
##############################################################



