[server]

domain = {{ server_hostname }}
root_url = https://%(domain)s/grafana

# for grafana 10
serve_from_sub_path = false 


[users]
# let the users use explore (can also edit dashboards but cannot save them)
viewers_can_edit = true 


[auth]
# Required for cilogon to look up user by email. Feature was disabled in grafana 10
#oauth_allow_insecure_email_lookup = true 

#[auth.anonymous]
#enabled = true 
## default to only one  org_name = 
#org_role = Viewer
## not sure why to hide version? simplify interface or prevent hackers getting version?
#hide_version = true 


[log]
level = debug

[security]
# Only allow the one datasource to prevent someone from trying to gain 
#    access to other resources
#data_source_proxy_whitelist = {{ install_name }}_thanos_query:10922,loki_fab_loki_1:3100
#data_source_proxy_whitelist = {{ install_name }}_thanos_query:10922,{{ install_name }}_loki:3100,dev-metrics.fabric-testbed.net:3100,fabric_loki:3100,metrics.fabric-testbed.net:3100
#################### TODO ADD MIMIR ACCESS ONLY ?? or keep prometheus also? ##################

# Allow the setting of admin account name to something else
admin_user = {{ grafana_admin_user | default("admin")}}
