ansible==7.0.0
ansible-base==2.10.17
ansible-core==2.14.5
appdirs==1.4.4
certifi==2023.7.22
cffi==1.15.0
cryptography==41.0.3
influxdb-client==1.36.1
Jinja2==3.0.3
lxml==4.9.2
MarkupSafe==2.1.1
packaging==21.3
psutil==5.9.4
pycparser==2.21
pyparsing==3.0.7
pyshark==0.6
python-dateutil==2.8.2
PyYAML==6.0
reactivex==4.0.4
resolvelib==0.8.1
scapy==2.4.5
six==1.16.0
termcolor==2.3.0
typing_extensions==4.5.0
urllib3==2.0.7
