---

install_name: fabric_prometheus
#install_name: dev_test_prometheus
docker_network_name: "{{ install_name }}"
base_data_dir: "/opt/data/{{ install_name }}"
base_install_dir: "/opt/{{ install_name }}" 

#hostname: "{{ hank_name }}.fabric-testbed.net"
host_cert: "/etc/ssl/certs/{{ hank_name }}-hn_fabric-testbed_net.pem"
host_key: "/etc/pki/tls/private/{{ hank_name }}-hn_fabric-testbed_net.key"
host_interm_cert: "/etc/pki/tls/certs/{{ hank_name }}-hn_fabric-testbed_net_interm.cer"


prom_user_name: fab-prom
prom_group_name: fab-prom
    

####################
#      Ports       #
####################
# In case we need to eliminate conficts
alertmanager_port: 9093    

####################
#    Prometheus    #
####################
prometheus_files_dir: files
prometheus_templates_dir: templates/rack/Prometheus
        
prometheus_config_template_files: 
  - prometheus_config.yml

  # node exporters for local rack
  - rack_node_targets.yml

  # for blackbox targets
  - local_rack_ping_targets.yml
  
  # snmp exporters for rack devices
  - base_snmp_targets.yml


####################
# Container States #
####################

# snmp_state: absent
# blackbox_state: absent
# docker_exporter_state: absent
# prometheus_state: absent
# nginx_state: absent
# thanos_sidecar_state absent


snmp_state: started
blackbox_state: started
docker_exporter_state: started
prometheus_state: started
nginx_state: started
thanos_sidecar_state: started


####################
#      Thanos      #
####################
thanos_templates_dir: templates/rack/Thanos
thanos_config_templates:
  - object_store_config.yml
  # NOTE needs the CEPH vars contained in *_private_vars.yml 

thanos_cert: "{{ host_cert }}"
thanos_key: "{{ host_key }}"
thanos_interm_cert: "{{ host_interm_cert }}"

thanos_sidecar_ip: "{{ hn_public_ipaddr }}"
thanos_sidecar_cert: "{{ thanos_cert }}"
thanos_sidecar_key: "{{ thanos_key }}"

####################
#       SNMP       #
####################

# NOTE community string is a per rack variable contained in *_private_vars.yml

snmp_templates_dir: templates/rack/SNMP
snmp_config_template_files: 
  - snmp.yml
  # SNMP will probably be the same for all racks

####################
#    Blackbox      # 
####################
blackbox_files_dir: files
blackbox_templates_dir: templates/rack


####################
#      NGINX       #
####################        

nginx_ip_ports:
  # Note Each port will correspond to a confd file set above.
  #- 80:80         # Redirected to 443
  #- 443:443       # /grafana for grafana interface
  - 9090:9090     # prometheus stats
  #- 10922:10922   # thanos stats
  #- "{{ alertmanager_port }}:{{ alertmanager_port }}"    # alertmanager 

nginx_template_dir: templates/Nginx

nginx_server_confd_template_files: 
  - prometheus.conf
  #- global_welcome.conf
  #- alertmanager.conf
  #- thanos.conf
  #- grafana.conf

nginx_config_template_files:
  - ssl_snippet.conf
  - nginx.conf

nginx_cert: "{{ host_cert }}"
nginx_key: "{{ host_key }}"
nginx_interm_cert: "{{ host_interm_cert }}"
