# Heartbeat Monitor
# This container will recieve heatbeat alerts from the alertmanager.
# The server will maintain a list of racks to compare the recieved alerts to. 
# Any rack that does not recieve alerts will will generate a new alert that the heartbeat is missing.

  heartbeat_monitor:
    container_name: fabrictestbed/heartbeat-monitor
    image: heartbeat_monitor

    environment:

      - heartbeat_racks_filename=heartbeat_racks.json
      - monitored_racks_filename=monitored_racks.json

      # Uses the docker network for direct access to alertmanager without leaving docker network
      - alertmanager_url=http://{{ install_name }}_prometheus_alertmanager:9093/api/v1/alerts
      
      #- loglevel=DEBUG
      - heartbeat_log_level=DEBUG

    volumes:
      - ./heartbeat_racks.json:/app/heartbeat_racks.json
      - ./monitored_racks.json:/app/monitored_racks.json

    ports:
      - 5000:5000
