# cAdisor Container for monitoring Docker contianers

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: {{ install_name }}_cadvisor
    #ports:
    #- 8080:8080
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    command:
        # limit cpu & memory usage by cadvisor container
      - '--housekeeping_interval=10s'
      - '--docker_only=true'


    logging:
      driver: json-file
      options:
        max-size: "1024m" 
        max-file: "5"

    restart: always
