# Prometheus container
  prometheus:
    container_name: "{{ install_name }}_prometheus"
    image: prom/prometheus:v2.33.4
    # TODO revisit/document user settings for this container
    user: 0:0
    volumes:      
      # config files
      - "{{ base_install_dir }}/prometheus/config:/etc/prometheus/config/"
      # secret files
      - "{{ base_install_dir }}/prometheus/secrets:/etc/prometheus/secrets/"
      # TSDB, WAL, chunks
      - "{{ base_data_dir }}/prometheus:/prometheus"
    # ports: 
    #   - 9090:9090

    command:
      - '--config.file=/etc/prometheus/config/prometheus_config.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.max-block-duration=2h'
      - '--storage.tsdb.min-block-duration=2h'
      - '--web.enable-lifecycle'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      # breaks connection to sidecar - '--web.external-url={{ ansible_host }}'  # This maybe correct for fabric racks etc, but maybe not for other cases
    
    logging:
      driver: json-file
      options:
        max-size: "1024m" 
        max-file: "5"

    restart: always
      