global:
  scrape_interval:     30s # Set the scrape interval to every ? seconds. Default is every 1 minute.
  evaluation_interval: 30s # Evaluate rules every ? seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      rack: "{{ external_rack_label }}"
      prometheus_src: {{ prometheus_name }}
      
  
# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  - '*_alert_rules.yml'
  - '*_rules.yml'


# Alertmanager configuration
# alerting:
#   alertmanagers:
#   - static_configs:
#     - targets: ['{{ install_name }}_alertmanager:{{ alertmanager_port }}']


scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'

    # Override the global default and scrape targets from this job every 5 seconds.
    #scrape_interval: 5s
    #scrape_timeout: 5s

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    static_configs:
      # by definition this is running on local host
      - targets: ['localhost:9090']


## Node Exporter 
#  - job_name: 'node'
#    scheme: https
#    tls_config:
#      insecure_skip_verify: true
#    basic_auth:
#      username: 'TODO node_exporter_username }}'
#      password: 'TODO node_exporter_password }}'
#    file_sd_configs:
#      - files:
#            - '*_node_targets.yml'

# # SNMP
#   - job_name: 'snmp'
#     file_sd_configs:
#       - files:
#           - '*_snmp_targets.yml'
#     metrics_path: /snmp
#     params:
#       module: ['placeholder_module']
#     relabel_configs:
#       - source_labels: [__address__]
#         target_label: __param_target__
#       - source_labels: [__param_target]
#         target_label: instance
#       - target_label: __address__
#         replacement: "{{ install_name }}_snmp:9116"
#       - source_labels: [mib_module]
#         regex: (.*?)
#         replacement: '${1}'
#         target_label: __param_module


#  # Cadvisor for Local Docker Containers

#   - job_name: cadvisor
#     scrape_interval: 30s
#     static_configs:
#     - targets:
#       - "{{ install_name }}_cadvisor:8080"


