
  # Central Thanos - Store Gateway
  thanos_store:
    container_name: "{{ install_name }}_thanos_store"
    image: quay.io/thanos/thanos:v0.29.0

    volumes:
      # Config files. Same as for Sidecar
      - "{{ base_install_dir }}/thanos/config/:/etc/thanos/"
      # Map the node certs for TLS.
      - "{{ thanos_store_cert }}:/etc/thanos_certs/cert"
      - "{{ thanos_store_key }}:/etc/thanos_certs/key"
      # Persistent data files 
      - "{{ base_data_dir }}/thanos/store/:/tmp/thanos/store"
        
    command:
      - 'store'
      - '--grpc-address=0.0.0.0:10911'
      - '--http-address=0.0.0.0:10912'
      - '--data-dir=/tmp/thanos/store'
      - '--objstore.config-file=/etc/thanos/object_store_config.yml'
      # Unfortunatly certs are needed since we have to use TLS everywhere for thanos :(
      - '--grpc-server-tls-cert=/etc/thanos_certs/cert' ##
      - '--grpc-server-tls-key=/etc/thanos_certs/key' ##
      - '--index-cache-size=32GB'
      - '--log.level=debug'

    ports:
      - "{{ thanos_store_ip }}:10911:10911"
      - "{{ thanos_store_ip }}:10912:10912"

    logging:
      driver: json-file
      options:
        max-size: "1024m"
        max-file: "5"

    restart: always
      

      # extra_hosts:
      #   "{{ thanos_extra_node_hosts  | default(omit) }}"

        