[Unit]
Description=PTP4L Monitor Service
Wants=ptp4l.service
After=ptp4l.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /opt/ptp_monitor/ptp_monitor.py
#StandardInput=tty-force

[Install]
WantedBy=multi-user.target
