---

groups:
- name: node_exporter
  rules:
  - alert: NodeExporterDown
    expr: up{job="node"} == 0
    for: 30s
    labels:
        severity: critical
    annotations:
      summary: The node exporter is not responding
      action: Check if the node exporter is running
  

- name: Blackbox
  rules:
  - alert: PingFailed
    expr: probe_success{job="ping"} == 0
    for: 30s
    labels: 
      severity: critical
      


- name: Prometheus
  rules:
  - alert: PrometheusTargetMissing
    expr: up == 0
    for: 0m
    labels:
      severity: critical
    annotations:
      summary: {% raw %}Prometheus target missing (instance {{ $labels.instance }}){% endraw %}

      description: {% raw %}"A Prometheus target has disappeared. An exporter might be crashed.\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"{% endraw %}

  - alert: PrometheusJobMissing
    expr: absent(up{job="prometheus"})
    for: 0m
    labels:
      severity: warning
    annotations:
      summary: {% raw %}Prometheus job missing (instance {{ $labels.instance }}){% endraw %}
      
      description: {% raw %}"A Prometheus job has disappeared\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"{% endraw %}

- name: node usage
  rules:
  - alert: HostHighCpuLoad
    expr: 100 - (avg by(instance) (irate(node_cpu_seconds_total{mode="idle"}[5m])) * 100) > 80
    for: 30s
    labels:
      severity: warning
      concerns: operator
    annotations:
      summary: {% raw %}"Host high CPU load (instance {{ $labels.instance }})"{% endraw %}
      
      description: {% raw %}"CPU load is > 80%\n  VALUE = {{ $value }}\n  LABELS: {{ $labels }}"{% endraw %}


  - alert: HostSwapIsFillingUp
    expr: (1 - (node_memory_SwapFree_bytes / node_memory_SwapTotal_bytes)) * 100 > 80
    for: 0m
    labels:
      severity: warning
      concerns: operator
    annotations:
      summary: {% raw %}Host swap is filling up (instance {{ $labels.instance }}){% endraw %}

      description: {% raw %}"Swap is filling up (>80%)\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"{% endraw %}


  # Please add ignored mountpoints in node_exporter parameters like
  # "--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|run)($|/)".
  # Same rule using "node_filesystem_free_bytes" will fire when disk fills for non-root users.
  - alert: HostOutOfDiskSpace
    expr: (node_filesystem_avail_bytes * 100) / node_filesystem_size_bytes < 10 and ON (instance, device, mountpoint) node_filesystem_readonly == 0
    for: 0m
    labels:
      severity: warning
    annotations:
      summary: {% raw %}Host out of disk space (instance {{ $labels.instance }}){% endraw %}
      
      description: {% raw %}"Disk is almost full (< 10% left)\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"{% endraw %}



  # Please add ignored mountpoints in node_exporter parameters like
  # "--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|run)($|/)".
  # Same rule using "node_filesystem_free_bytes" will fire when disk fills for non-root users.
  - alert: HostDiskWillFillIn24Hours
    expr: (node_filesystem_avail_bytes * 100) / node_filesystem_size_bytes < 10 and ON (instance, device, mountpoint) predict_linear(node_filesystem_avail_bytes{fstype!~"tmpfs"}[1h], 24 * 3600) < 0 and ON (instance, device, mountpoint) node_filesystem_readonly == 0
    for: 0m
    labels:
      severity: warning
    annotations:
      summary: {% raw %}Host disk will fill in 24 hours (instance {{ $labels.instance }}){% endraw %}
      
      description: {% raw %}"Filesystem is predicted to run out of space within the next 24 hours at current write rate\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"{% endraw %}



  - alert: HostOutOfMemory
    expr: node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes * 100 < 10
    for: 0m
    labels:
      severity: warning
    annotations:
      summary: {% raw %}Host out of memory (instance {{ $labels.instance }}){% endraw %}
      
      description: {% raw %}"Node memory is filling up (< 10% left)\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"{% endraw %}


# could confirm just node exporter by waiting for ping results
# may have to call reload for alert rules
#  docker exec -it dev_test_prometheus_nginx /usr/bin/curl -X POST -k http://dev_test_prometheus_prometheus:9090/-/reload