
# Intended for running docker exporter on worker nodes.
# Docker Exporter - Add SSL & htaccess
server {
        listen  {{ docker_exporter_port }} ssl http2;
        server_name {{ hostname }};

        include /etc/nginx/ssl_snippet.conf;

        location / {
                auth_basic "Admins Only";
                auth_basic_user_file /etc/nginx/htpasswd;
                proxy_pass http://{{ install_name }}_docker_exporter:{{ docker_exporter_port }};
        }
}

