
# Central Thanos - Sidecar

  thanos_sidecar:
    container_name: "{{ install_name }}_thanos_sidecar"

    image: quay.io/thanos/thanos:v0.29.0

    volumes:
      # config files
      - "{{ base_install_dir }}/thanos/config/:/etc/thanos/"
      # Provide access to the promtheus data.
      - "{{ base_data_dir }}/prometheus:/prometheus"
      # Map certs on head node.
      - "{{ thanos_sidecar_cert }}:/etc/thanos_certs/cert:ro"
      - "{{ thanos_sidecar_key }}:/etc/thanos_certs/key:ro"

    command:
      - 'sidecar'
      - '--tsdb.path=/prometheus'
      - '--prometheus.url=http://{{ install_name }}_prometheus:9090'
      - '--grpc-address=0.0.0.0:10901'

      - '--grpc-server-tls-cert=/etc/thanos_certs/cert' 
      - '--grpc-server-tls-key=/etc/thanos_certs/key' 

      - '--http-address=0.0.0.0:10902'
      - '--objstore.config-file=/etc/thanos/object_store_config.yml'
      
      
       # Optional debuging
      - '--log.level=info'  # debug, info
      - '--log.format=json' # logfmt logfmt or json                          
      

    ports:
      - "{{ thanos_sidecar_ip | ansible.netcommon.ipwrap +':10901:10901' }}"

    logging:
      driver: json-file
      options:
        max-size: "1024m" 
        max-file: "5"

    restart: always