---

# Note this is basically a copy of the vpn_ping_targets.yml.j2, but
# is intended to to help the global metrics monitor if head nodes go down.
# reason has been changed to infrastructure_check

{# Not really a template anymore, but is kept with templates since this file will vary in the future #}
# The list of head nodes to check over the operations network to ensure VPN is active.
# This is a hand made list since it will change rarely and the fabric-hosts file has 
# lots of head nodes listed that are not active or in VPN yet.

# RENC
- targets:
        - 192.168.11.10
  labels:
        subdomain: renc-hn
        network: operations
        reason: infrastructure_check
# UKY
- targets:
        - 192.168.12.10
  labels:
        subdomain: uky-hn
        network: operations 
        reason: infrastructure_check
# LBNL      
- targets:
        - 192.168.13.10
  labels:
        subdomain: lbnl-hn
        network: operations 
        reason: infrastructure_check
# STAR
- targets:
        - 192.168.14.10
  labels:
        subdomain: star-hn
        network: operations 
        reason: infrastructure_check        
# # MAX
# - targets:
#         - 192.168.15.10
#   labels:
#         subdomain: max-hn
#         network: operations 
#         reason: infrastructure_check        
# # TACK
# - targets:
#         - 192.168.16.10
#   labels:
#         subdomain: tack-hn
#         network: operations 
#         reason: infrastructure_check    
# # MICH          
# - targets:
#         - 192.168.17.10
#   labels:
#         subdomain: mich-hn
#         network: operations 
#         reason: infrastructure_check                
# # MASS
# - targets:
#         - 192.168.18.10
#   labels:
#         subdomain: mass-hn
#         network: operations 
#         reason: infrastructure_check                
# # UTAH
# - targets:
#         - 192.168.19.10
#   labels:
#         subdomain: utah-hn
#         network: operations 
#         reason: infrastructure_check                
# # NCSA
# - targets:
#         - 192.168.20.10
#   labels:
#         subdomain: ncsa-hn
#         network: operations 
#         reason: infrastructure_check                
