---

- targets:
    # project-registry
    - https://beta-1.fabric-testbed.net/version
    # credential-manager
    - https://beta-2.fabric-testbed.net/version 
    # portal 
    - https://beta-4.fabric-testbed.net
    # user-information-service
    - https://beta-5.fabric-testbed.net/version 
    # orchestrator
    - https://beta-7.fabric-testbed.net/version 


    # jupyterhub -beta
    - https://jupyter-beta.fabric-testbed.net

  labels:
    job: blackbox-http
    check_type: web-site
    release: beta 
