---

# Note this is basically a copy of the vpn_ping_targets.yml.j2, but
# is intended to to help the central metrics monitor if head nodes go down.
# reason has been changed to infrastructure_check

# Not really a template anymore, but is kept with templates since this file will vary in the future .

# The list of head nodes to check over the operations network to ensure VPN is active.
# This is a hand made list since it will change rarely and the fabric-hosts file has 
# lots of head nodes listed that are not active or in VPN yet.

# RENC
- targets:
       - 192.168.11.10
  labels:
      subdomain: renc-hn
      hank: renc
      component_type: head
      network: operations
      reason: infrastructure_check
      status: live
# UKY
- targets:
      - 192.168.12.10
  labels:
      subdomain: uky-hn
      hank: uky
      component_type: head
      network: operations 
      reason: infrastructure_check
      status: live
# LBNL      
- targets:
      - 192.168.13.10
  labels:
      subdomain: lbnl-hn
      hank: lbnl
      component_type: head
      network: operations 
      reason: infrastructure_check
      status: live
# STAR
- targets:
      - 192.168.14.10
  labels:
      subdomain: star-hn
      hank: star
      component_type: head
      network: operations 
      reason: infrastructure_check
      status: building
# MAX
- targets:
      - 192.168.15.10
  labels:
      subdomain: max-hn
      hank: max
      component_type: head
      network: operations 
      reason: infrastructure_check
      status: building        
# TACC
- targets:
      - 192.168.16.10
  labels:
      subdomain: tacc-hn
      hank: tacc
      component_type: head
      network: operations 
      reason: infrastructure_check
      status: building    
# # MICH          
# - targets:
#       - 192.168.17.10
#   labels:
#       subdomain: mich-hn
#       hank: mich
#       component_type: head
#       network: operations 
#       reason: infrastructure_check
#       status: building
# # MASS
# - targets:
#       - 192.168.18.10
#   labels:
#       subdomain: mass-hn
#       hank: mass
#       component_type: head
#       network: operations 
#       reason: infrastructure_check
#       status: building                
# UTAH
- targets:
      - 192.168.19.10
  labels:
      subdomain: utah-hn
      hank: utah
      component_type: head
      network: operations 
      reason: infrastructure_check                
      status: building
# NCSA
- targets:
      - 192.168.20.10
  labels:
      subdomain: ncsa-hn
      hank: ncsa
      component_type: head
      network: operations 
      reason: infrastructure_check                
      status: building