---
version: '3.5'

networks:
  default:
    name: "{{ docker_network_name }}"  
    external: true


services: 


  thanos_compactor:

    # Central Compactor
    # The Compactor MUST NOT be run anywhere except on the central metrics.
    # https://github.com/thanos-io/thanos/blob/master/docs/components/compact.md
    # Recommends 100GB disk space

    container_name: {{ install_name }}_thanos_compactor
    image: quay.io/thanos/thanos:v0.29.0

    volumes:
      # Config files. Same as for Sidecar
      - "{{ base_install_dir }}/thanos/config/:/etc/thanos/"
      - "{{ base_data_dir }}/thanos/compactor/tmp/:/tmp/thanos-compact"
    command:
      - 'compact'
      - '--wait'              # don't exit after compaction, wait and check for more 
      - '--wait-interval=5m'  # delay before checking for new compaction
      - '--data-dir="/tmp/thanos-compact"'
      - '--objstore.config-file=/etc/thanos/object_store_config.yml'
# Failing for some reason. 
#      - '--http-address="0.0.0.0:10902"'  # for metrics
#
#    ports:
#      - 10902:10902
      
    logging:
      driver: json-file
      options:
        max-size: "1024m" 
        max-file: "5"

    restart: always




