# Alerts to tell if rack connections are not up.
# Will check if ifAdminStatus != 1
groups:

        - name: Absent ifAdminStatus
          rules:

{% for r in absent_ifAdminStatus_queries %}

                  - alert: ifAdminStatusMissing
                    expr: absent ( {{ r }} )
                    for: 15m
{% raw %}
                    labels:
                        thanos_ruler: "testing"
                        rack_to_check: "{{ $labels.instance }}"
                        rack_checked: "{{ $labels.rack }}"
                    annotations:
                        summary: "ifAdminStatus missing for rack {{ $labels.rack }} IfName {{ $labels.ifName }}"
                        description: "ifAdminStatus missing for rack {{ $labels.rack }} IfName {{ $labels.ifName }}"
{% endraw %}


                  - alert: ifAdminStatusDown
                    expr:  {{ r }}  != 
                    for: 15m
{% raw %}
                    labels:
                        thanos_ruler: "testing"
                        rack_to_check: "{{ $labels.instance }}"
                        rack_checked: "{{ $labels.rack }}"
                    annotations:
                        summary: "ifAdminStatus down (not up) for rack {{ $labels.rack }}  IfName {{ $labels.ifName }}"
                        description: "ifAdminStatus down (not up) for rack {{ $labels.rack }} IfName {{ $labels.ifName }}"
{% endraw %}

{% endfor %}


