filebeat.inputs:

{% if component_type == 'head' %}
  - type: filestream
    enabled: true
    id: {{ hank_name }}-am
    paths:
       - /home/nrig-service/ControlFramework/fabric_cf/authority/{{ hank_name }}-am/logs/*.log

  - type: filestream
    enabled: true
    id: {{ hank_name }}-data-sw
    paths:
       - /var/log/remote/192.168.{{ hank_id }}.3/*.log

  - type: filestream
    enabled: true
    id: {{ hank_name }}-mgt-sw
    paths:
       - /var/log/remote/192.168.{{ hank_id }}.2/*.log

  - type: filestream
    enabled: true
    id: {{ hank_name }}-vpn
    paths:
       - /var/log/remote/192.168.{{ hank_id }}.1/*.log

  - type: filestream
    enabled: true
    id: {{ hank_name }}-storage
    paths:
       - /var/log/remote/192.168.{{ hank_id }}.110/*.log
       - /var/log/remote/192.168.{{ hank_id }}.111/*.log

{% end if %}

  - type: filestream
    enabled: true
    id: {{ hank_name }}-nova
    paths:
       - /var/log/nova/*.log

  - type: filestream
    enabled: true
    id: {{ hank_name }}-neutron
    paths:
       - /var/log/neutron/*.log

  - type: filestream
    enabled: true
    id: linuxptp
    paths:
       - /var/log/ptp4l.log
       - /var/log/phc2sys.log

  - type: filestream
    enabled: true
    id: dnf
    paths:
       - /var/log/dnf*.log

filebeat.modules:
  - module: system
    syslog:
      enabled: {{ system_enable }}
      var.paths: ["/var/log/messages"]
      var.convert_timezone: false
    auth:
      enabled: {{ system_enable }}
      var.paths: ["/var/log/secure*"]
      var.convert_timezone: false

{% if component_type == 'head' %}

  - module: rabbitmq
    log:
      enabled: true
      var.paths: ["/var/log/rabbitmq/rabbit@{{ hank_name }}-hn.log"]

  - module: apache
    access:
      enabled: true
      var.paths: 
        - "/var/log/httpd/*access.log"
        - "/var/log/httpd/access_log"
    error:
      enabled: true
      var.paths: 
        - "/var/log/httpd/*error.log"
        - "/var/log/httpd/error_log"

{% endif %}

  #- module: zeek
  #  capture_loss:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/capture_loss.log"]
  #  connection:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/conn.log"]
  #  dhcp:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/dhcp.log"]
  #  dns:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/dns.log"]
  #  dpd:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/dpd.log"]
  #  files:
  #   enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/files.log"]
  #  ftp:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/ftp.log"]
  #  http:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/http.log"]
  #  intel:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/intel.log"]
  #  irc:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/irc.log"]
  #  kerberos:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/kerberos.log"]
  #  modbus:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/modbus.log"]
  #  mysql:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/mysql.log"]
  #  notice:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/notice.log"]
  #  ntlm:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/ntlm.log"]
  #  ocsp:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/ocsp.log"]
  #  pe:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/pe.log"]
  #  radius:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/radius.log"]
  #  rdp:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/rdp.log"]
  #  rfb:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/rfb.log"]
  #  sip:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/sip.log"]
  #  smb_cmd:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/smb_cmd.log"]
  #  smb_files:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/smb_files.log"]
  #  smb_mapping:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/smb_mapping.log"]
  #  smtp:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/smtp.log"]
  #  snmp:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/snmp.log"]
  #  socks:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/socks.log"]
  #  ssh:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/ssh.log"]
  #  ssl:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/ssl.log"]
  #  stats:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/stats.log"]
  #  syslog:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/syslog.log"]
  #  traceroute:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/traceroute.log"]
  #  tunnel:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/tunnel.log"]
  #  weird:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/weird.log"]
  #  x509:
  #    enabled: {{ zeek_enable }}
  #    var.paths: ["/opt/zeek/logs/current/x509.log"]

setup.template.settings:
  index.number_of_shards: 1

# -------------------------------- Kafka Output --------------------------------
output.kafka:
  enabled: true
  hosts: ["mfbr1-p.fabric-testbed.net:9094","mfbr2-p.fabric-testbed.net:9094","mfbr3-p.fabric-testbed.net:9094"]
  topic: '{{ mfkfk_topic_name }}'
  username: {{ mfkfk_username }}
  password: {{ mfkfk_password }}
  sasl.mechanism: SCRAM-SHA-256
  ssl.verification_mode: certificate
  ssl.certificate_authorities: ["/etc/filebeat/mfbr1-p_fabric-testbed_net_interm.cer"]

processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~
