---
- name: Process OWL data
  hosts: Experiment_Nodes 
  tasks:
  - name: Extract information from pcap files on a Docker volume and append to a csv file.
    community.general.docker_container:
      name: owl
      image: fabrictestbed/owl:0.1.0
      state: started
      restart: yes
      command: ["DataProcessManager.py", "process", "/owl_output", "out.csv"]
      privileged: yes
      network_mode: host
      #ports:
      #  - "5005:5005"
      volumes:
        - /home/mfuser/services/owl/output:/owl_output
        - /home/mfuser/services/owl/config:/owl_config
