---
- name: Start OWL
  hosts: Experiment_Nodes 
  tasks:
  - name: Copy owl.conf file
    ansible.builtin.copy:
      # Source will change later
      src: /home/mfuser/services/owl/config/owl.conf
      dest: /home/mfuser/services/owl/config/owl.conf

  - name: Copy owl service request file
    ansible.builtin.copy:
      # Source will change later
      src: /home/mfuser/services/owl/config/links.json
      dest: /home/mfuser/services/owl/config/links.json

  - name: Start OWL container
    community.general.docker_container:
      name: owl
      image: owl:0.1.1 
      state: started
      restart: yes
      command: ["NodeSockManager.py", "/owl_config/owl.conf"]
      privileged: yes
      network_mode: host
      #ports:
      #  - "5005:5005"
      volumes:
        - /home/mfuser/services/owl/output:/owl_output
        - /home/mfuser/services/owl/config:/owl_config
