networks:
  dual_network:
    name: {{ install_name }}_ipv6_network
    enable_ipv6: true
    ipam:
    config:
    - subnet: fd8d:73ee:3857:7fab::/64
      gateway: fd8d:73ee:3857:7fab::1

  default:
    name: {{ install_name }}_ipv6_network