{% include './docker_compose_' + 'base' +  '_fragment.yml.j2' %}

# now the containers 

##### CADVISOR #################################################################

{% include './docker_compose_' + 'cadvisor' +  '_fragment.yml.j2' %}

##### PROMETHEUS #################################################################

{% include './docker_compose_' + 'prometheus' +  '_fragment.yml.j2' %}

##### THANOS SIDECAR #################################################################

{% include './docker_compose_' + 'thanos_sidecar' +  '_fragment.yml.j2' %}

##### NGINX #################################################################

{% include './docker_compose_' + 'nginx' +  '_fragment.yml.j2' %}

##### BLACKBOX EXPORTER #################################################################

{% include './docker_compose_' + 'blackbox_exporter' +  '_fragment.yml.j2' %}
