[Unit]
Description=Synchronize system clock or PTP hardware clock (PHC)
Documentation=man:phc2sys
After=ntpdate.service
Requires=ptp4l.service
After=ptp4l.service

[Service]
Type=simple
ExecStart=/usr/sbin/phc2sys -u {{ (2|pow(logging_summary_interval))|int }} -a -r -E linreg

[Install]
WantedBy=multi-user.target
