[Unit]
Description=Synchronize system clock or PTP hardware clock (PHC)
Documentation=man:phc2sys

[Service]
Type=simple
ExecStart=/usr/sbin/phc2sys -u {{ (2|pow(logging_summary_interval))|int }} -E linreg -O +0 -s /dev/ptp_kvm -c %i

[Install]
WantedBy=multi-user.target
