---
# File: central_bastion_ping_targets.yml(.j2) 
# Ansible generated ping targets for all Fabric public Bastion hosts.

# Bastion
{% for b in ["bastion-1", "bastion-2"] %}
- targets:
        - {{ hostvars[b].host_public_ipv4_address }}
  labels:
        job: ping
        device: bastion
        subdomain: {{b}}
        release: prod
        ipv: 4
        network: public

# ping not setup on operations network interface?
#- targets:
#        - {{ hostvars[b].host_operations_ipv4_address }}
#  labels:
#        job: ping
#        device: bastion
#        subdomain: {{b}}
#        release: prod
#        ipv: 4
#        network: operations


{% endfor %}