# Set targets for node exporters in the ELK system.

# Kafka Nodes
- targets:
        - 'mbkfk1-1.fabric-testbed.net:9100'
        - 'mbkfk1-2.fabric-testbed.net:9100'
        - 'mbkfk1-3.fabric-testbed.net:9100'

        - 'mfkfk1-1.fabric-testbed.net:9100'
        - 'mfkfk1-2.fabric-testbed.net:9100'
        - 'mfkfk1-3.fabric-testbed.net:9100'
  labels:
        job : node
