---

- targets:
      # specifically for grafana 
    - https://metrics.fabric-testbed.net/grafana/login
    - https://metrics.fabric-testbed.net 

  labels:
    job: blackbox-http
    check_type: web-site
    release: production


