---

- targets:
    - https://jupyter.fabric-testbed.net
    - https://ceph-0.metrics.fabric-testbed.net
    - https://whatisfabric.net
    - https://fabric-testbed.net
    # must have the login without it there is a redirect that is not liked?
    - https://metrics.fabric-testbed.net/grafana/login
    - https://uis.fabric-testbed.net
    - https://cm.fabric-testbed.net

    - https://pr.fabric-testbed.net

    - https://learn.fabric-testbed.net

    - https://portal.fabric-testbed.net 

    - https://alpha-1.fabric-testbed.net
    - https://alpha-2.fabric-testbed.net
    - https://alpha-4.fabric-testbed.net
    - https://alpha-5.fabric-testbed.net

    - https://beta-1.fabric-testbed.net
    - https://beta-2.fabric-testbed.net 
    - https://beta-4.fabric-testbed.net 
    - https://beta-5.fabric-testbed.net 


  labels:
    job: blackbox-http
    check_type: web-site