- targets:
    # project-registry
    - https://beta-1.fabric-testbed.net/version
    # credential-manager
    - https://beta-2.fabric-testbed.net/version 
    # user-information-service
    - https://beta-5.fabric-testbed.net/version 
    # orchestrator
    - https://beta-7.fabric-testbed.net/version 


  labels:
    job: blackbox-http
    check_type: web-site
    release: beta 
    