---
# Needs redoing with the module fix and adding more mibs
# Management Switch
- targets: 
    - "{{hostvars[hank_name + '-mgt-sw'].ansible_host}}"
  labels:
    job: 'mgt-sw' 
    mib_module: 'if_mib'
    
# Dataplane Switch
- targets:
    - "{{hostvars[hank_name + '-data-sw'].ansible_host}}"
  labels:
    job: 'data-sw'
    mib_module: 'if_mib'

{% if hostvars[hank_name + '-pdu'] is defined %}
# PDU
- targets:
    - "{{hostvars[hank_name + '-pdu'].ansible_host}}"
  labels:
    job: 'pdu'
    mib_module: 'PowerNet'
{% endif %}

{% if hostvars[hank_name + '-storage'] is defined %}
# Storage
- targets:
    - "{{hostvars[hank_name + '-storage'].ansible_host}}"
  labels:
    job: 'storage'
    mib_module: 'if_mib'
{% endif %} 
