---
# File: rack_ping_targets.yml
# Ansible generated ping targets for {{hank_name}} Fabric rack.
# Sets ping targets for devices running on the rack.


# Head Node
{% for h in groups[hank_name+"_head"] %}
- targets:
        - {{ hostvars[h].ansible_host }}
  labels:
        job: ping
        device: head
        subdomain: {{h}}
        release: prod
        relation: rack
{% endfor %}

# Worker Nodes
{% for h in groups[hank_name+"_worker"] %}
- targets:
        - {{ hostvars[h].ansible_host }}
  labels:
        job: ping
        device: worker
        subdomain: {{h}}
        release: prod
        relation: rack
{% endfor %}


# Switches
{% for h in groups[hank_name+"_switch"] %}
- targets:
        - {{ hostvars[h].ansible_host }}
  labels:
        job: ping
        device: {{ h.split("-")[1] }}-sw
        subdomain: '{{h}}'
        release: prod
        relation: rack
{% endfor %}



# Storage
{% for h in groups[hank_name+"_storage"] %}
- targets:
        - {{ hostvars[h].ansible_host }}
  labels:
        job: ping
        device: {{ h.split("-")[1] }}
        subdomain: {{h}}
        release: prod
        relation: rack
{% endfor %}



# Others
{% for h in groups[hank_name+"_others"] %}
{% elif h.split("-")[1] == "pdu" %}
# pdu have multiple ips that are not listed
# pdu does not need monitoring
{% else %}
- targets:
        - {{ hostvars[h].ansible_host }}
  labels:
        job: ping
        device: {{ h.split("-")[1] }}
        subdomain: {{h}}
        release: prod
        relation: rack
{% endif %}
{% endfor %}

