---
{# Not really a template anymore, but is kept with templates since this file will vary in the future #}
# The list of head nodes to check over the operations network to ensure VPN is active.
# This is a hand made list since it will change rarely and the fabric-hosts file has 
# lots of head nodes listed that are not active or in VPN yet.

# RENC
- targets:
        - 192.168.11.10
  labels:
        subdomain: renc-hn
        network: operations 
        reason: vpn
# UKY
- targets:
        - 192.168.12.10
  labels:
        subdomain: uky-hn
        network: operations 
        reason: vpn
# LBNL      
- targets:
        - 192.168.13.10
  labels:
        subdomain: lbnl-hn
        network: operations 
        reason: vpn
# STAR
- targets:
        - 192.168.14.10
  labels:
        subdomain: star-hn
        network: operations 
        reason: vpn        
# MAX
- targets:
      - 192.168.15.10
  labels:
        subdomain: max-hn
        network: operations 
        reason: vpn        
# TACC
- targets:
        - 192.168.16.10
  labels:
        subdomain: tacc-hn
        network: operations 
        reason: vpn    
# MICH          
- targets:
        - 192.168.17.10
  labels:
        subdomain: mich-hn
        network: operations 
        reason: vpn                
# MASS
- targets:
        - 192.168.18.10
  labels:
        subdomain: mass-hn
        network: operations 
        reason: vpn                
# UTAH
- targets:
        - 192.168.19.10
  labels:
        subdomain: utah-hn
        network: operations 
        reason: vpn                
# NCSA
- targets:
        - 192.168.20.10
  labels:
        subdomain: ncsa-hn
        network: operations 
        reason: vpn                
