filebeat.inputs:
{% if component_type != 'head' and component_type != 'worker' %}
{% for collector in logs_collection %}
{% if hostname in collector.hosts %}
  - type: filestream
    enabled: true
    id: {{ hostname }}
    paths:
       - {{ collector.log_path }}
{% endif %}
{% endfor %}
{% elif component_type == 'head' %}
  - type: filestream
    enabled: true
    id: {{ hank_name }}-am
    paths:
       - /home/nrig-service/ControlFramework/fabric_cf/authority/{{ hank_name }}-am/logs/*.log

  - type: filestream
    enabled: true
    id: {{ hank_name }}-data-sw
    paths:
       - /var/log/remote/192.168.{{ hank_id }}.3/*.log

  - type: filestream
    enabled: true
    id: {{ hank_name }}-mgt-sw
    paths:
       - /var/log/remote/192.168.{{ hank_id }}.2/*.log

  - type: filestream
    enabled: true
    id: {{ hank_name }}-vpn
    paths:
       - /var/log/remote/192.168.{{ hank_id }}.1/*.log

  - type: filestream
    enabled: true
    id: {{ hank_name }}-storage
    paths:
       - /var/log/remote/192.168.{{ hank_id }}.110/*.log
       - /var/log/remote/192.168.{{ hank_id }}.111/*.log

{% elif component_type == 'head' or component_type == 'worker' %}

  - type: filestream
    enabled: true
    id: {{ hank_name }}-nova
    paths:
       - /var/log/nova/*.log

  - type: filestream
    enabled: true
    id: linuxptp
    paths:
       - /var/log/ptp4l.log
       - /var/log/phc2sys.log

filebeat.modules:
  - module: system
    syslog:
      enabled: {{ system_enable }}
      var.paths: ["/var/log/messages"]
      var.convert_timezone: false
    auth:
      enabled: {{ system_enable }}
      var.paths: ["/var/log/secure*"]
      var.convert_timezone: false

{% endif%}

setup.template.settings:
  index.number_of_shards: 1

# -------------------------------- Kafka Output --------------------------------
output.kafka:
  enabled: true
  hosts: {{ hostvars[inventory_hostname]['mfkfk_hosts'] }}
  topic: "{{ hostvars[inventory_hostname]['mfkfk_topic_name'] }}"
  username: "{{ hostvars[inventory_hostname]['mfkfk_username'] }}"
  password: "{{ hostvars[inventory_hostname]['mfkfk_password'] }}"
  sasl.mechanism: SCRAM-SHA-256
  ssl.verification_mode: certificate
  ssl.certificate_authorities: {{ hostvars[inventory_hostname]['ssl']['certificate_authorities'] }}

processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~
