---
# file: central_ping_alert_rules.yml
# location: central

groups: 

- name: Infrastructure Alerts
  rules:

  - alert: HeadNodePingFailed
    expr: probe_success {job="ping", component_type="head", reason="infrastructure_check"} == 0
    for: 5m
    labels: 
      severity: error 
      fabric_system: headnode
      fabric_response: system
    annotations: 
      summary: "Ping check, central metrics to headnode {{ $labels.subdomain }} on operations network ip {{ $labels.subdomain }} failed."
      description: "Head node {{ $labels.subdomain }} has not responed to ping central metrics for 5m."

  - alert: WorkerNodePingFailed
    expr: probe_success {job="ping", component_type="worker", reason="infrastructure_check"} == 0
    for: 5m
    labels: 
      severity: error 
      fabric_system: headnode
      fabric_response: system
    annotations: 
      summary: "Ping check, central metrics to worker node {{ $labels.subdomain }} on operations network ip {{ $labels.subdomain }} failed."
      description: "Worker node {{ $labels.subdomain }} has not responded to ping from central metrics for 5m."
