---

- targets:
    - https://jupyter.fabric-testbed.net
    - https://ceph-0.metrics.fabric-testbed.net
    - https://whatisfabric.net
    - https://fabric-testbed.net
    # must have the login without it there is a redirect that is not liked?
    - https://metrics.fabric-testbed.net/grafana/login
    #- https://renc-hn.fabric-testbed.net
  labels:
    job: blackbox-http
    check_type: web-site