

 

  # Jupyter
  - job_name: 'jupyterhub'
    bearer_token_file: /etc/prometheus/secrets/jupyterhub
    scheme: https
    metrics_path: '/hub/metrics'
    tls_config:
            insecure_skip_verify: true
    static_configs:
            - targets: ['jupyter-beta.fabric-testbed.net']



  - job_name: 'mf-kafka'
    static_configs:
      - targets: ['nsoelk.netlab.uky.edu:9308']


  - job_name: 'mb-kafka'
    static_configs:
      - targets: ['nsoelk.netlab.uky.edu:9309']
