version: '3.7'

services:
  minio:
    container_name: {{ install_name }}_minio
    image: quay.io/minio/minio


    volumes:
      - {{ base_data_dir }}:/data

    environment:
      MINIO_ROOT_USER: {{ minio_root_user }}
      MINIO_ROOT_PASSWORD: {{ minio_root_password }}


    command: server /data --console-address ":9099"

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3


  minio_proxy:
    container_name: {{ install_name }}_minio_proxy
    image: nginx
    volumes:

base_install_dir: "/opt/{{ install_name }}" 
        - {{ base_install_dir }}/nginx/config/nginx.conf:/etc/nginx/nginx.conf:ro
        - {{ base_install_dir }}/nginx/config/ssl_snippet.conf:/etc/nginx/ssl_snippet.conf:ro
        - {{ minio_proxy_key }}:/etc/nginx/key_file:ro
        - {{ minio_proxy_cert }}:/etc/nginx/cert_file:ro

        #- ./nginx/config/nginx.conf:/etc/nginx/nginx.conf:ro
        #- ./nginx/config/ssl_snippet.conf:/etc/nginx/ssl_snippet.conf:ro        
        #- ./nginx/config/key_file:/etc/nginx/key_file:ro
        #- ./nginx/config/cert_file:/etc/nginx/cert_file:ro

    ports:
      - "{{minio_port}}:9000"
      - "{{minio_console_port}}:9099"
