events {
	worker_connections 4096;
}
http {

# Default logging
    #log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
    #                  '$status $body_bytes_sent "$http_referer" '
    #                  '"$http_user_agent" "$http_x_forwarded_for"';
    #
    #access_log  /var/log/nginx/access.log  main;



# Redirect Port 80
server {
        listen 80;
        listen [::]:80;
 
        return 301 https://{{ server_hostname }};
}

# Add site confs
include /etc/nginx/conf.d/*.conf;

}

