---
global:

# The directory from which notification templates are read.
{# templates:
- '/etc/alertmanager/template/*.tmpl'
 #}

  slack_api_url: "{{ alertmanager_slack_api_url }}"
# The root route on which each incoming alert enters.
 
  smtp_from: "{{ alertmanager_email_from }}"
  smtp_smarthost: "{{ alertmanager_smarthost }}"

route:
#  group_by: [...]
#  group_wait: 5m
#  group_interval: 0s
  repeat_interval: 1d
  receiver: slack_general


  routes:
  # Send me everything
  - receiver: monitor_operator
#    group_by: ['fabric_system']
    group_wait: 5m
    repeat_interval: 1d
    continue: true
#    matchers: 
#      - rack =~ ".*"

#  - receiver: nasir_email 
#    repeat_interval: 1d
#    matchers:
#      - fabric_system = "time"

#  - receiver: slack_operator
#    group_wait: 5m
#    repeat_interval: 1d
#    continue: true


#  - receiver: slack_general 
#    group_wait: 5m
#    repeat_interval: 1d
#    matchers:
#      - fabric_system = "time"
#    continue: true

# TIME
  - receiver: time_operator
    group_wait: 5m 
    repeat_interval: 1d
    matchers:
      - fabric_system = "time"
    continue: true

# VPN
  - receiver: operators
    group_wait: 5m 
    repeat_interval: 1d
    matchers:
      - fabric_system = "vpn"
    continue: true

# INFRASTRUCTURE
  - receiver: monitor_operator
    group_wait: 5m
    repeat_interval: 1d
    matchers:
      - reason="infrastructure_check"
      - job="ping"
    continue: true

# INFRASTRUCTURE - LIVE HEADNODE DOWN
  - receiver: monitor_operator
    group_wait: 5m
    repeat_interval: 1d
    matchers:
      - reason="infrastructure_check"
      - job="ping"
      - component_type="head"
      - status="live"
    continue: true

# INFRASTRUCTURE - LIVE WORKERNODE DOWN
  - receiver: monitor_operator
    group_wait: 5m
    repeat_interval: 1d
    matchers:
      - reason="infrastructure_check"
      - job="ping"
      - component_type="worker"
      - status="live"
    continue: true


receivers:

# Emails
  - name: monitor_operator
    # Email monitor system operator
    email_configs:
    - to: '{{ alert_email_monitor_operator }}'

  - name: operators
    # Email everybody
    email_configs:
    - to: '{{ alert_email_operators }}'

  - name: time_operator
    email_configs:
    - to: '{{ alert_email_time_operator }}'


# Slack
  - name: slack_general
    slack_configs:
      - api_url: "{{ alertmanager_slack_api_url_general }}"
        channel: '#alerts-general'

        text: {% raw %}"!{{ .CommonLabels.responsible_primary }} , @{{ .CommonLabels.responsible_primary }} Via General <!channel> \nsummary: {{ .CommonAnnotations.summary }}\ndescription: {{ .CommonAnnotations.description }}"{% endraw %}

        send_resolved: true

  - name: slack_critical
    slack_configs:
      - api_url: "{{ alertmanager_slack_api_url_critical }}"
        channel: '#alerts-critical'

        text: {% raw %}"Via Critical <!channel> \nsummary: {{ .CommonAnnotations.summary }}\ndescription: {{ .CommonAnnotations.description }}"{% endraw %}

        send_resolved: true

  - name: slack_operator
    slack_configs:
      - api_url: "{{ alertmanager_slack_api_url_operator }}"
        channel: '#alerts-operator'

        text: {% raw %}"Via Operator <!channel> \nsummary: {{ .CommonAnnotations.summary }}\ndescription: {{ .CommonAnnotations.description }}"{% endraw %}

        send_resolved: true