filebeat.inputs:
- type: log
  enabled: false
  paths:
    - /var/log/*.log
  
- type: filestream
  enabled: false
  paths:
    - /var/log/*.log

filebeat.modules:
- module: system
  syslog:
    enabled: true
  auth:
    enabled: true

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: true
  reload.period: 30s

setup.template.settings:
  index.number_of_shards: 1

setup.kibana:
  host: "{{ filebeat_setup_kibana_host }}:5601"

output.elasticsearch:
  hosts: ["{{ filebeat_output_elasticsearch_hosts }}:9200"]

#output.logstash:
  #hosts: ["localhost:5044"]

processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~