---
# Ping-plus vars
# These vars have the lowest precedenc to and --extra-vars used will over write them.

ansible_python_interpreter: /usr/bin/python3

# Empty value to be filled in later as needed.
extra_node_hosts: {}
thanos_extra_node_hosts: {}
grafana_extra_node_hosts: {}

# Some values commented out here will have to be added by the user when calling the role.
# Otherwise the role will not run.

##########################################
# Values that must be filled in by user. #
##########################################
# See fabric-deployment repo anisible host files for theses values.
# Name for install directories
# install_name: 

# TLS SSL key, cert locations
# host_key: </etc/pki/tls/private/your.key>
# host_interm_cert: </etc/ssl/certs/your.cer>
# host_cert: </etc/ssl/certs/your.cer> 

##########################################
# End Values that must be filled in by user. #
##########################################

docker_network_name: "{{ install_name }}"
base_data_dir: "/opt/data/{{ install_name }}"
base_install_dir: "/opt/{{ install_name }}" 

add_python_docker_sdk: no

prom_user_name: fab-prom
prom_group_name: fab-prom


docker_ipv6_subnet: fd8d:73ee:3857:1315::/64
docker_ipv6_gateway: fd8d:73ee:3857:1315::1



####################
#    Prometheus    #
####################
prometheus_files_dir: files
prometheus_templates_dir: templates/Prometheus
        
prometheus_config_template_files: 
  - prometheus_config.yml

  # blackbox targets
  - fabric_dns_targets.yml
  - fabric_http_targets.yml
  - fabric_beta_http_targets.yml
  - fabric_smtp_targets.yml
  - fabric_tcp_targets.yml

  - ping-plus_other_ping_targets.yml
  - ping-plus_bastion_ping_targets.yml 
  - ping-plus_bastion_ping6_targets.yml
    
  - ping-plus_node_targets.yml

prometheus_config_files: []
  # need default var even if empty

prometheus_secrets:
    # secrets found in fabric deployment host vars
  - name: jupyterhub 
    secret: "{{ jupyterhub_secret }}"
  - name: jupyterhub_beta
    secret: "{{ jupyterhub_beta_secret }}"


# prometheus_secrets: 
#   - name: jupyterhub
#    secret:  adsjhgauifyohj


####################
#   Alertmanager   #
####################

alertmanager_url: metrics.fabric-testbed.net:9093


alert_rule_file_dir: files/alert_rules

# Default alert rules for ping-plus
alert_rule_files:
  - dns_alert_rules.yml
  - docker_alert_rules.yml
  - mail_alert_rules.yml
  - network_alert_rules.yml
  - node_alert_rules.yml
  - central_ping_alert_rules.yml
  - prometheus_alert_rules.yml
  - ssl_alert_rules.yml
#  - time_alert_rules.yml
#  - vpn_ping_alert_rules.yml
  - web_site_alert_rules.yml



####################
#      Thanos      #
####################
thanos_templates_dir: templates/Thanos
thanos_config_templates:
  - object_store_config.yml

thanos_cert: "{{ host_cert }}"
thanos_key: "{{ host_key }}"
thanos_interm_cert: "{{ host_interm_cert }}"

#### Sidecar ####
thanos_sidecar_ip: "{{ ansible_host }}"
thanos_sidecar_cert: "{{ thanos_cert }}"
thanos_sidecar_key: "{{ thanos_key }}"


####################
#       SNMP       #
####################

# NOTE community string is a per rack variable
# -- Moved to private vars -- # snmp_community_string: <private>

# Currently no snmp needed
# snmp_templates_dir: templates/rack/SNMP
# snmp_config_template_files: 
#   - snmp.yml
#   # SNMP will probably be the same for all racks



####################
# Docker Exporter  # 
####################


####################
#    Blackbox      # 
####################
blackbox_files_dir: files
blackbox_templates_dir: templates/Blackbox


####################
#      NGINX       #
####################        

nginx_ip_ports:
  - 9090:9090     # prometheus stats
  #- 10902:10902   # thanos sidecar stats
  - 10901:10901 # thanos sidecar 
  
nginx_template_dir: templates/Nginx

nginx_server_confd_template_files: 
  - prometheus_dual.conf
  - thanos_sidecar_grpc.conf

nginx_config_template_files:
  - ssl_snippet.conf
  - nginx.conf

nginx_cert: "{{ host_cert }}"
nginx_key: "{{ host_key }}"
nginx_interm_cert: "{{ host_interm_cert }}"


                  
# Nginx htaccess password to access status pages.
# -- Moved to private vars -- # fabric_prometheus_ht_user: <private>
# -- Moved to private vars -- # fabric_prometheus_ht_password: <private>


####################
#  Node Exporter   #  
####################
install_node_exporters: yes

node_exporter_tls_server_config:
  cert_file: /etc/node_exporter/tls.cert
  key_file: /etc/node_exporter/tls.key
node_exporter_web_listen_address: "{{ ansible_host }}:9100"
