

  mimir:
    image: grafana/mimir:latest
    container_name: "{{ install_name }}_mimir" 
    
    #remove? hostname: {{ hostname }}
    #depends_on:
    #  - minio
    command: 
      - "-config.file=/etc/config/mimir.yml"
      - "-target=all"
      - "-ingester.ring.replication-factor=1"

      #- "-distributor.request-rate-limit=40000"
      #- "-distributor.request-burst-size=500000"
      #- "-distributor.ingestion-rate-limit=44333"
      #- "-distributor.ingestion-burst-size=888777"

    volumes:
      - {{ base_install_dir }}/mimir/config/:/etc/config
      - {{ base_data_dir }}/mimir/data:/data



      #- ./config/alertmanager-fallback-config.yaml:/etc/alertmanager-fallback-config.yaml
  