
  minio:
    container_name: {{ install_name }}_minio
    image: quay.io/minio/minio

    volumes:
      - {{ base_data_dir }}/minio/data:/data

    # Note: changing the MINIO_ROOT* below will change the admin login
    environment:
      MINIO_ROOT_USER: {{ minio_root_user }}
      MINIO_ROOT_PASSWORD: {{ minio_root_password }}

    command: server /data --console-address ":9099"

    logging:
      driver: json-file
      options:
        max-size: "1024m" 
        max-file: "5"

    restart: always

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
